# Running script for geocoding
This script loads predefined functions and perform geocoding on given data

In [1]:
%load_ext autoreload
%autoreload 2
import f_geocode_address as geo

import pandas as pd
import requests 
from bs4 import BeautifulSoup
from IPython.core.debugger import Tracer
import ast
import pandas as pd
import numpy as np
import tqdm

In [2]:
#load api key for ggoogle api
import apicka as api

In [3]:
API_KEY = api.API_KEY

## Generate sample data

In [4]:
#test
sample = {'fulladdress': ["Jugoslávských partyzánů 1580/3, Praha 6",
                           "Duškova 7, Praha 5",
                           "Opatovická 160/18, Praha ",
                           "nám. W. Churchilla 4, Praha 3",
                           "Slezská 68, Praha 3 - Vinohrady"],
        'obec': ['Praha', 'Praha', 'Praha', 'Praha', 'Praha'],
        'castobce': ['Praha 6', 'Praha 5', None, 'Praha 3', 'Vinohrady'],
        'ulice': ['Jugoslávských partyzánů','Duškova', 'Opatovická','nám. W. Churchilla', 'Slezská'],
        'cp': [1580, 7, 160, 4, 68],
        'co': [3,None,18,None, None],
        'psc': [None,None,None,None,None]}

sampleadres = pd.DataFrame.from_dict(sample)
sampleadres

,fulladdress,obec,castobce,ulice,cp,co,psc
0,"Jugoslávských partyzánů 1580/3, Praha 6",Praha,Praha 6,Jugoslávských partyzánů,1580,3.0,None
1,"Duškova 7, Praha 5",Praha,Praha 5,Duškova,7,NaN,None
2,"Opatovická 160/18, Praha",Praha,None,Opatovická,160,18.0,None
3,"nám. W. Churchilla 4, Praha 3",Praha,Praha 3,nám. W. Churchilla,4,NaN,None
4,"Slezská 68, Praha 3 - Vinohrady",Praha,Vinohrady,Slezská,68,NaN,None

In [5]:
%%time
a = geo.geoWrapper(sampleadres,API_KEY)

C:\Users\vnedved001\Documents\IES\GeocodeCZ-and-Sreality-crawler\f_geocode_address.py:335: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  src = pd.read_csv(self.srctable_path).convert_objects(convert_numeric=True)

Wall time: 17.8 s

In [6]:
%%time
a.auto(True)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

C:\Users\vnedved001\Documents\IES\GeocodeCZ-and-Sreality-crawler\f_geocode_address.py:386: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  self.addresaPD_beforeConversion = self.addresaPD.convert_objects(convert_numeric=True)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

Estimated price of the query is 0.2 USD. Do you wanna proceed? yes/noyes
Wall time: 3min 53s

In [7]:
a.dataFrame

,fulladdress,obec,castobce,ulice,cp,co,psc,latitude,longitude,methodUsed,confidence
0,"Jugoslávských partyzánů 1580/3, Praha 6",Praha,Praha 6,Jugoslávských partyzánů,1580,3.0,None,NaN,NaN,NaN,NaN
1,"Duškova 7, Praha 5",Praha,Praha 5,Duškova,7,NaN,None,NaN,NaN,NaN,NaN
2,"Opatovická 160/18, Praha",Praha,None,Opatovická,160,18.0,None,743139.220000,1.043845e+06,join,1.0
3,"nám. W. Churchilla 4, Praha 3",Praha,Praha 3,nám. W. Churchilla,4,NaN,None,50.084270,1.444116e+01,ruian,1.0
4,"Slezská 68, Praha 3 - Vinohrady",Praha,Vinohrady,Slezská,68,NaN,None,50.076193,1.444959e+01,ruian,1.0